- if (!everyauth.loggedIn)
  h2 Not Authenticated
  a(href='/slides/hello-world.html') Slides
  a(href='/auth/github', style='border: 0px') Sign in with Github
- else
  form#chat-form
    input#msg-box(type='text')
  #chat-room
  ul
    li
      a(href='/logout') Logout
    li
      a(href='/slides/hello-world.html') Slides
