!!! 5
html
  head
    title dallas.no.de
    link(rel='stylesheet', href = '/app.css')
    script(src='http://code.jquery.com/jquery-1.6.2.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/app.js')
  body
    h1 dallas.no.de
    #main
      != body
